@media all {
	* {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: normal;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: middle;
	}
	* html body * {
		overflow: visible
	}
	* html iframe, * html frame {
		overflow: auto
	}
	* html frameset {
		overflow: hidden
	}
	:focus {
		outline: 0
	}
	html {
		height: 100%
	}
	body {
		min-height: 100.01%;
		font-size: 62.5%;
		font-weight: normal;
		position: relative;
		color: #000;
		background: transparent;
		background-color: #ffffff;
		text-align: left;
	}
	option {
		padding-left: 0.4em
	}
	ol, ul {
		list-style: none
	}
	table {
		border-collapse: separate;
		border-spacing: 0
	}
	caption, th, td {
		text-align: left;
		font-weight: normal
	}
	a, em, i, u, span {
		font-weight: inherit;
	}
	sub {
		font-size: 0.7em;
		vertical-align: bottom
	}
	sup {
		font-size: 0.7em;
		vertical-align: top
	}
	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}
	.justify {
		text-align: justify;
	}
	strong, b {
		vertical-align: baseline;
		font-weight: bold;
	}

}

* {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)!important; /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: carret;
	-webkit-appearance: none; /* alernatively */
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	-moz-user-select: none;
	-ms-user-select: none;
}
