@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-6a1aec');
	src:url('fonts/icomoon.eot?#iefix-6a1aec') format('embedded-opentype'),
		url('fonts/icomoon.woff?-6a1aec') format('woff'),
		url('fonts/icomoon.ttf?-6a1aec') format('truetype'),
		url('fonts/icomoon.svg?-6a1aec#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="moon-"], [class*=" moon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.moon-dice:before {
	content: "\e601";
}
.moon-pacman:before {
	content: "\e602";
}
.moon-spades:before {
	content: "\e603";
}
.moon-clubs:before {
	content: "\e604";
}
.moon-diamonds:before {
	content: "\e605";
}
.moon-pawn:before {
	content: "\e606";
}
.moon-bullhorn:before {
	content: "\e607";
}
.moon-connection:before {
	content: "\e608";
}
.moon-podcast:before {
	content: "\e609";
}
.moon-feed:before {
	content: "\e60a";
}
.moon-book:before {
	content: "\e60b";
}
.moon-books:before {
	content: "\e60c";
}
.moon-copy:before {
	content: "\e60d";
}
.moon-copy2:before {
	content: "\e60e";
}
.moon-copy3:before {
	content: "\e60f";
}
.moon-paste:before {
	content: "\e610";
}
.moon-paste2:before {
	content: "\e611";
}
.moon-paste3:before {
	content: "\e612";
}
.moon-stack:before {
	content: "\e613";
}
.moon-folder-open:before {
	content: "\e614";
}
.moon-tag:before {
	content: "\e615";
}
.moon-tags:before {
	content: "\e616";
}
.moon-barcode:before {
	content: "\e617";
}
.moon-calculate:before {
	content: "\e618";
}
.moon-support:before {
	content: "\e619";
}
.moon-phone:before {
	content: "\e61a";
}
.moon-phone-hang-up:before {
	content: "\e61b";
}
.moon-address-book:before {
	content: "\e61c";
}
.moon-notebook:before {
	content: "\e61d";
}
.moon-envelope:before {
	content: "\e61e";
}
.moon-pushpin:before {
	content: "\e61f";
}
.moon-location:before {
	content: "\e620";
}
.moon-location2:before {
	content: "\e621";
}
.moon-compass:before {
	content: "\e622";
}
.moon-map:before {
	content: "\e623";
}
.moon-ticket:before {
	content: "\e624";
}
.moon-cart:before {
	content: "\e625";
}
.moon-cart2:before {
	content: "\e626";
}
.moon-map2:before {
	content: "\e627";
}
.moon-history:before {
	content: "\e628";
}
.moon-clock:before {
	content: "\e629";
}
.moon-clock2:before {
	content: "\e62a";
}
.moon-play:before {
	content: "\e62b";
}
.moon-headphones:before {
	content: "\e62c";
}
.moon-music:before {
	content: "\e62d";
}
.moon-camera2:before {
	content: "\e62e";
}
.moon-images:before {
	content: "\e62f";
}
.moon-image:before {
	content: "\e630";
}
.moon-image2:before {
	content: "\e631";
}
.moon-paint-format:before {
	content: "\e632";
}
.moon-droplet:before {
	content: "\e633";
}
.moon-blog:before {
	content: "\e634";
}
.moon-pen:before {
	content: "\e635";
}
.moon-quill:before {
	content: "\e636";
}
.moon-pencil:before {
	content: "\e637";
}
.moon-pencil2:before {
	content: "\e638";
}
.moon-newspaper:before {
	content: "\e639";
}
.moon-office:before {
	content: "\e63a";
}
.moon-home:before {
	content: "\e63b";
}
.moon-home2:before {
	content: "\e63c";
}
.moon-home3:before {
	content: "\e63d";
}
.moon-film:before {
	content: "\e63e";
}
.moon-file:before {
	content: "\e63f";
}
.moon-credit:before {
	content: "\e640";
}
.moon-bell:before {
	content: "\e641";
}
.moon-upload:before {
	content: "\e642";
}
.moon-user:before {
	content: "\e643";
}
.moon-contract:before {
	content: "\e644";
}
.moon-stopwatch:before {
	content: "\e645";
}
.moon-calendar:before {
	content: "\e646";
}
.moon-calendar2:before {
	content: "\e647";
}
.moon-print:before {
	content: "\e648";
}
.moon-keyboard:before {
	content: "\e649";
}
.moon-screen:before {
	content: "\e64a";
}
.moon-laptop:before {
	content: "\e64b";
}
.moon-mobile:before {
	content: "\e64c";
}
.moon-mobile2:before {
	content: "\e64d";
}
.moon-tablet:before {
	content: "\e64e";
}
.moon-tv:before {
	content: "\e64f";
}
.moon-cabinet:before {
	content: "\e650";
}
.moon-drawer:before {
	content: "\e651";
}
.moon-drawer2:before {
	content: "\e652";
}
.moon-drawer3:before {
	content: "\e653";
}
.moon-box-add:before {
	content: "\e654";
}
.moon-file2:before {
	content: "\e655";
}
.moon-coin:before {
	content: "\e656";
}
.moon-alarm:before {
	content: "\e657";
}
.moon-file3:before {
	content: "\e658";
}
.moon-cart3:before {
	content: "\e659";
}
.moon-alarm2:before {
	content: "\e65a";
}
.moon-profile:before {
	content: "\e65b";
}
.moon-file4:before {
	content: "\e65c";
}
.moon-library:before {
	content: "\e65d";
}
.moon-qrcode:before {
	content: "\e65e";
}
.moon-folder:before {
	content: "\e65f";
}
.moon-disk:before {
	content: "\e660";
}
.moon-storage:before {
	content: "\e661";
}
.moon-undo:before {
	content: "\e662";
}
.moon-redo:before {
	content: "\e663";
}
.moon-flip:before {
	content: "\e664";
}
.moon-flip2:before {
	content: "\e665";
}
.moon-undo2:before {
	content: "\e666";
}
.moon-redo2:before {
	content: "\e667";
}
.moon-forward:before {
	content: "\e668";
}
.moon-reply:before {
	content: "\e669";
}
.moon-bubble:before {
	content: "\e66a";
}
.moon-bubbles:before {
	content: "\e66b";
}
.moon-bubbles2:before {
	content: "\e66c";
}
.moon-bubble2:before {
	content: "\e66d";
}
.moon-bubbles3:before {
	content: "\e66e";
}
.moon-bubbles4:before {
	content: "\e66f";
}
.moon-text-height:before {
	content: "\e670";
}
.moon-download:before {
	content: "\e671";
}
.moon-user2:before {
	content: "\e672";
}
.moon-box-remove:before {
	content: "\e673";
}
.moon-users:before {
	content: "\e674";
}
.moon-bars:before {
	content: "\e675";
}
.moon-glass:before {
	content: "\e676";
}
.moon-mug:before {
	content: "\e677";
}
.moon-food:before {
	content: "\e678";
}
.moon-leaf:before {
	content: "\e679";
}
.moon-rocket:before {
	content: "\e67a";
}
.moon-meter:before {
	content: "\e67b";
}
.moon-meter2:before {
	content: "\e67c";
}
.moon-dashboard:before {
	content: "\e67d";
}
.moon-hammer:before {
	content: "\e67e";
}
.moon-fire:before {
	content: "\e67f";
}
.moon-lab:before {
	content: "\e680";
}
.moon-magnet:before {
	content: "\e681";
}
.moon-remove:before {
	content: "\e682";
}
.moon-remove2:before {
	content: "\e683";
}
.moon-truck:before {
	content: "\e684";
}
.moon-target:before {
	content: "\e685";
}
.moon-shield:before {
	content: "\e686";
}
.moon-lightning:before {
	content: "\e687";
}
.moon-switch:before {
	content: "\e688";
}
.moon-power-cord:before {
	content: "\e689";
}
.moon-signup:before {
	content: "\e68a";
}
.moon-list:before {
	content: "\e68b";
}
.moon-list2:before {
	content: "\e68c";
}
.moon-numbered-list:before {
	content: "\e68d";
}
.moon-menu:before {
	content: "\e68e";
}
.moon-menu2:before {
	content: "\e68f";
}
.moon-tree:before {
	content: "\e690";
}
.moon-cloud:before {
	content: "\e691";
}
.moon-cloud-download:before {
	content: "\e692";
}
.moon-cloud-upload:before {
	content: "\e693";
}
.moon-download2:before {
	content: "\e694";
}
.moon-upload2:before {
	content: "\e695";
}
.moon-globe:before {
	content: "\e696";
}
.moon-earth:before {
	content: "\e697";
}
.moon-link:before {
	content: "\e698";
}
.moon-flag:before {
	content: "\e699";
}
.moon-attachment:before {
	content: "\e69a";
}
.moon-eye:before {
	content: "\e69b";
}
.moon-eye-blocked:before {
	content: "\e69c";
}
.moon-eye2:before {
	content: "\e69d";
}
.moon-bookmark:before {
	content: "\e69e";
}
.moon-bookmarks:before {
	content: "\e69f";
}
.moon-brightness-medium:before {
	content: "\e6a0";
}
.moon-brightness-contrast:before {
	content: "\e6a1";
}
.moon-contrast:before {
	content: "\e6a2";
}
.moon-star:before {
	content: "\e6a3";
}
.moon-star2:before {
	content: "\e6a4";
}
.moon-star3:before {
	content: "\e6a5";
}
.moon-heart:before {
	content: "\e6a6";
}
.moon-thumbs-up:before {
	content: "\e6a7";
}
.moon-thumbs-up2:before {
	content: "\e6a8";
}
.moon-happy:before {
	content: "\e6a9";
}
.moon-happy2:before {
	content: "\e6aa";
}
.moon-smiley:before {
	content: "\e6ab";
}
.moon-smiley2:before {
	content: "\e6ac";
}
.moon-tongue:before {
	content: "\e6ad";
}
.moon-tongue2:before {
	content: "\e6ae";
}
.moon-sad:before {
	content: "\e6af";
}
.moon-sad2:before {
	content: "\e6b0";
}
.moon-wink:before {
	content: "\e6b1";
}
.moon-wink2:before {
	content: "\e6b2";
}
.moon-grin:before {
	content: "\e6b3";
}
.moon-grin2:before {
	content: "\e6b4";
}
.moon-cool:before {
	content: "\e6b5";
}
.moon-cool2:before {
	content: "\e6b6";
}
.moon-angry:before {
	content: "\e6b7";
}
.moon-evil:before {
	content: "\e6b8";
}
.moon-shocked:before {
	content: "\e6b9";
}
.moon-shocked2:before {
	content: "\e6ba";
}
.moon-confused:before {
	content: "\e6bb";
}
.moon-confused2:before {
	content: "\e6bc";
}
.moon-neutral:before {
	content: "\e6bd";
}
.moon-neutral2:before {
	content: "\e6be";
}
.moon-wondering:before {
	content: "\e6bf";
}
.moon-wondering2:before {
	content: "\e6c0";
}
.moon-point-up:before {
	content: "\e6c1";
}
.moon-point-right:before {
	content: "\e6c2";
}
.moon-point-down:before {
	content: "\e6c3";
}
.moon-point-left:before {
	content: "\e6c4";
}
.moon-warning:before {
	content: "\e6c5";
}
.moon-notification:before {
	content: "\e6c6";
}
.moon-question:before {
	content: "\e6c7";
}
.moon-info:before {
	content: "\e6c8";
}
.moon-cancel-circle:before {
	content: "\e6c9";
}
.moon-checkmark-circle:before {
	content: "\e6ca";
}
.moon-spam:before {
	content: "\e6cb";
}
.moon-close:before {
	content: "\e6cc";
}
.moon-checkmark:before {
	content: "\e6cd";
}
.moon-checkmark2:before {
	content: "\e6ce";
}
.moon-spell-check:before {
	content: "\e6cf";
}
.moon-minus:before {
	content: "\e6d0";
}
.moon-plus:before {
	content: "\e6d1";
}
.moon-enter:before {
	content: "\e6d2";
}
.moon-exit:before {
	content: "\e6d3";
}
.moon-play2:before {
	content: "\e6d4";
}
.moon-pause:before {
	content: "\e6d5";
}
.moon-stop:before {
	content: "\e6d6";
}
.moon-backward:before {
	content: "\e6d7";
}
.moon-forward2:before {
	content: "\e6d8";
}
.moon-gift:before {
	content: "\e6d9";
}
.moon-road:before {
	content: "\e6da";
}
.moon-download3:before {
	content: "\e6db";
}
.moon-heart2:before {
	content: "\e6dc";
}
.moon-angry2:before {
	content: "\e6dd";
}
.moon-info2:before {
	content: "\e6de";
}
.moon-stop2:before {
	content: "\e6df";
}
.moon-users2:before {
	content: "\e6e0";
}
.moon-user3:before {
	content: "\e6e1";
}
.moon-quotes-left:before {
	content: "\e6e2";
}
.moon-busy:before {
	content: "\e6e3";
}
.moon-spinner:before {
	content: "\e6e4";
}
.moon-spinner2:before {
	content: "\e6e5";
}
.moon-key:before {
	content: "\e6e6";
}
.moon-lock:before {
	content: "\e6e7";
}
.moon-lock2:before {
	content: "\e6e8";
}
.moon-unlocked:before {
	content: "\e6e9";
}
.moon-wrench:before {
	content: "\e6ea";
}
.moon-settings:before {
	content: "\e6eb";
}
.moon-equalizer:before {
	content: "\e6ec";
}
.moon-cog:before {
	content: "\e6ed";
}
.moon-cogs:before {
	content: "\e6ee";
}
.moon-cog2:before {
	content: "\e6ef";
}
.moon-hammer2:before {
	content: "\e6f0";
}
.moon-wand:before {
	content: "\e6f1";
}
.moon-aid:before {
	content: "\e6f2";
}
.moon-bug:before {
	content: "\e6f3";
}
.moon-pie:before {
	content: "\e6f4";
}
.moon-spinner3:before {
	content: "\e6f5";
}
.moon-spinner4:before {
	content: "\e6f6";
}
.moon-spinner5:before {
	content: "\e6f7";
}
.moon-spinner6:before {
	content: "\e6f8";
}
.moon-binoculars:before {
	content: "\e6f9";
}
.moon-search:before {
	content: "\e6fa";
}
.moon-zoom-in:before {
	content: "\e6fb";
}
.moon-zoom-out:before {
	content: "\e6fc";
}
.moon-expand:before {
	content: "\e6fd";
}
.moon-contract2:before {
	content: "\e6fe";
}
.moon-expand2:before {
	content: "\e6ff";
}
.moon-stats:before {
	content: "\e700";
}
.moon-bars2:before {
	content: "\e701";
}
.moon-airplane:before {
	content: "\e702";
}
.moon-briefcase:before {
	content: "\e703";
}
.moon-key2:before {
	content: "\e704";
}
.moon-trophy:before {
	content: "\e705";
}
.moon-accessibility:before {
	content: "\e706";
}
.moon-upload3:before {
	content: "\e707";
}
.moon-heart-broken:before {
	content: "\e708";
}
.moon-evil2:before {
	content: "\e709";
}
.moon-blocked:before {
	content: "\e70a";
}
.moon-user4:before {
	content: "\e70b";
}
.moon-IcoMoon:before {
	content: "\e70c";
}
.moon-safari:before {
	content: "\e70d";
}
.moon-opera:before {
	content: "\e70e";
}
.moon-IE:before {
	content: "\e70f";
}
.moon-firefox:before {
	content: "\e710";
}
.moon-chrome:before {
	content: "\e711";
}
.moon-css3:before {
	content: "\e712";
}
.moon-html5:before {
	content: "\e713";
}
.moon-html52:before {
	content: "\e714";
}
.moon-file-css:before {
	content: "\e715";
}
.moon-file-xml:before {
	content: "\e716";
}
.moon-file-powerpoint:before {
	content: "\e717";
}
.moon-file-zip:before {
	content: "\e718";
}
.moon-file-excel:before {
	content: "\e719";
}
.moon-paypal:before {
	content: "\e71a";
}
.moon-paypal2:before {
	content: "\e71b";
}
.moon-paypal3:before {
	content: "\e71c";
}
.moon-foursquare:before {
	content: "\e71d";
}
.moon-foursquare2:before {
	content: "\e71e";
}
.moon-flattr:before {
	content: "\e71f";
}
.moon-xing:before {
	content: "\e720";
}
.moon-xing2:before {
	content: "\e721";
}
.moon-pinterest:before {
	content: "\e722";
}
.moon-pinterest2:before {
	content: "\e723";
}
.moon-stackoverflow:before {
	content: "\e724";
}
.moon-stumbleupon:before {
	content: "\e725";
}
.moon-stumbleupon2:before {
	content: "\e726";
}
.moon-delicious:before {
	content: "\e727";
}
.moon-soundcloud:before {
	content: "\e728";
}
.moon-soundcloud2:before {
	content: "\e729";
}
.moon-windows8:before {
	content: "\e72a";
}
.moon-windows:before {
	content: "\e72b";
}
.moon-android:before {
	content: "\e72c";
}
.moon-finder:before {
	content: "\e72d";
}
.moon-apple:before {
	content: "\e72e";
}
.moon-tux:before {
	content: "\e72f";
}
.moon-yahoo:before {
	content: "\e730";
}
.moon-tumblr:before {
	content: "\e731";
}
.moon-tumblr2:before {
	content: "\e732";
}
.moon-blogger:before {
	content: "\e733";
}
.moon-blogger2:before {
	content: "\e734";
}
.moon-joomla:before {
	content: "\e735";
}
.moon-github:before {
	content: "\e736";
}
.moon-github2:before {
	content: "\e737";
}
.moon-steam:before {
	content: "\e738";
}
.moon-steam2:before {
	content: "\e739";
}
.moon-deviantart:before {
	content: "\e73a";
}
.moon-deviantart2:before {
	content: "\e73b";
}
.moon-forrst:before {
	content: "\e73c";
}
.moon-forrst2:before {
	content: "\e73d";
}
.moon-dribbble:before {
	content: "\e73e";
}
.moon-dribbble2:before {
	content: "\e73f";
}
.moon-dribbble3:before {
	content: "\e740";
}
.moon-picassa:before {
	content: "\e741";
}
.moon-picassa2:before {
	content: "\e742";
}
.moon-flickr:before {
	content: "\e743";
}
.moon-vimeo2:before {
	content: "\e744";
}
.moon-vimeo:before {
	content: "\e745";
}
.moon-youtube:before {
	content: "\e746";
}
.moon-youtube2:before {
	content: "\e747";
}
.moon-feed2:before {
	content: "\e748";
}
.moon-feed3:before {
	content: "\e749";
}
.moon-feed4:before {
	content: "\e74a";
}
.moon-twitter:before {
	content: "\e74b";
}
.moon-twitter2:before {
	content: "\e74c";
}
.moon-twitter3:before {
	content: "\e74d";
}
.moon-instagram:before {
	content: "\e74e";
}
.moon-facebook:before {
	content: "\e74f";
}
.moon-facebook2:before {
	content: "\e750";
}
.moon-facebook3:before {
	content: "\e751";
}
.moon-google:before {
	content: "\e752";
}
.moon-mail:before {
	content: "\e753";
}
.moon-mail2:before {
	content: "\e754";
}
.moon-mail3:before {
	content: "\e755";
}
.moon-mail4:before {
	content: "\e756";
}
.moon-share:before {
	content: "\e757";
}
.moon-console:before {
	content: "\e758";
}
.moon-code:before {
	content: "\e759";
}
.moon-embed:before {
	content: "\e75a";
}
.moon-new-tab:before {
	content: "\e75b";
}
.moon-indent-decrease:before {
	content: "\e75c";
}
.moon-indent-increase:before {
	content: "\e75d";
}
.moon-paragraph-justify:before {
	content: "\e75e";
}
.moon-paragraph-right:before {
	content: "\e75f";
}
.moon-paragraph-left:before {
	content: "\e760";
}
.moon-right-toleft:before {
	content: "\e761";
}
.moon-left-toright:before {
	content: "\e762";
}
.moon-pilcrow:before {
	content: "\e763";
}
.moon-insert-template:before {
	content: "\e764";
}
.moon-table:before {
	content: "\e765";
}
.moon-table2:before {
	content: "\e766";
}
.moon-sigma:before {
	content: "\e767";
}
.moon-omega:before {
	content: "\e768";
}
.moon-strikethrough:before {
	content: "\e769";
}
.moon-italic:before {
	content: "\e76a";
}
.moon-underline:before {
	content: "\e76b";
}
.moon-bold:before {
	content: "\e76c";
}
.moon-text-width:before {
	content: "\e76d";
}
.moon-crop:before {
	content: "\e76e";
}
.moon-radio-unchecked:before {
	content: "\e76f";
}
.moon-radio-checked:before {
	content: "\e770";
}
.moon-checkbox-partial:before {
	content: "\e771";
}
.moon-checkbox-unchecked:before {
	content: "\e772";
}
.moon-checkbox-checked:before {
	content: "\e773";
}
.moon-tab:before {
	content: "\e774";
}
.moon-arrow-left:before {
	content: "\e775";
}
.moon-arrow-down-left:before {
	content: "\e776";
}
.moon-arrow-down:before {
	content: "\e777";
}
.moon-arrow-down-right:before {
	content: "\e778";
}
.moon-arrow-right:before {
	content: "\e779";
}
.moon-arrow-up-right:before {
	content: "\e77a";
}
.moon-arrow-up:before {
	content: "\e77b";
}
.moon-arrow-right2:before {
	content: "\e77c";
}
.moon-arrow-up-right2:before {
	content: "\e77d";
}
.moon-arrow-up2:before {
	content: "\e77e";
}
.moon-arrow-up-left:before {
	content: "\e77f";
}
.moon-arrow-left2:before {
	content: "\e780";
}
.moon-arrow-down-left2:before {
	content: "\e781";
}
.moon-arrow-down2:before {
	content: "\e782";
}
.moon-arrow-down-right2:before {
	content: "\e783";
}
.moon-arrow-right3:before {
	content: "\e784";
}
.moon-arrow-up-right3:before {
	content: "\e785";
}
.moon-arrow-up3:before {
	content: "\e786";
}
.moon-arrow-up-left2:before {
	content: "\e787";
}
.moon-shuffle:before {
	content: "\e788";
}
.moon-loop:before {
	content: "\e789";
}
.moon-play3:before {
	content: "\e78a";
}
.moon-pause2:before {
	content: "\e78b";
}
.moon-backward2:before {
	content: "\e78c";
}
.moon-forward3:before {
	content: "\e78d";
}
.moon-first:before {
	content: "\e78e";
}
.moon-last:before {
	content: "\e78f";
}
.moon-previous:before {
	content: "\e790";
}
.moon-next:before {
	content: "\e791";
}
.moon-eject:before {
	content: "\e792";
}
.moon-volume-high:before {
	content: "\e793";
}
.moon-volume-medium:before {
	content: "\e794";
}
.moon-volume-low:before {
	content: "\e795";
}
.moon-volume-mute:before {
	content: "\e796";
}
.moon-volume-mute2:before {
	content: "\e797";
}
.moon-volume-increase:before {
	content: "\e798";
}
.moon-volume-decrease:before {
	content: "\e799";
}
.moon-loop2:before {
	content: "\e79a";
}
.moon-loop3:before {
	content: "\e79b";
}
.moon-arrow-down-right3:before {
	content: "\e79c";
}
.moon-arrow-down3:before {
	content: "\e79d";
}
.moon-arrow-down-left3:before {
	content: "\e79e";
}
.moon-arrow-left3:before {
	content: "\e79f";
}
.moon-scissors:before {
	content: "\e7a0";
}
.moon-filter:before {
	content: "\e7a1";
}
.moon-filter2:before {
	content: "\e7a2";
}
.moon-font:before {
	content: "\e7a3";
}
.moon-paragraph-center:before {
	content: "\e7a4";
}
.moon-paragraph-right2:before {
	content: "\e7a5";
}
.moon-paragraph-justify2:before {
	content: "\e7a6";
}
.moon-paragraph-left2:before {
	content: "\e7a7";
}
.moon-google-plus:before {
	content: "\e7a8";
}
.moon-google-plus2:before {
	content: "\e7a9";
}
.moon-google-plus3:before {
	content: "\e7aa";
}
.moon-google-plus4:before {
	content: "\e7ab";
}
.moon-vimeo3:before {
	content: "\e7ac";
}
.moon-lanyrd:before {
	content: "\e7ad";
}
.moon-flickr2:before {
	content: "\e7ae";
}
.moon-flickr3:before {
	content: "\e7af";
}
.moon-github3:before {
	content: "\e7b0";
}
.moon-github4:before {
	content: "\e7b1";
}
.moon-github5:before {
	content: "\e7b2";
}
.moon-wordpress:before {
	content: "\e7b3";
}
.moon-skype:before {
	content: "\e7b4";
}
.moon-reddit:before {
	content: "\e7b5";
}
.moon-linkedin:before {
	content: "\e7b6";
}
.moon-lastfm:before {
	content: "\e7b7";
}
.moon-yelp:before {
	content: "\e7b8";
}
.moon-libreoffice:before {
	content: "\e7b9";
}
.moon-file-pdf:before {
	content: "\e7ba";
}
.moon-file-openoffice:before {
	content: "\e7bb";
}
.moon-file-word:before {
	content: "\e7bc";
}
.moon-lastfm2:before {
	content: "\e7bd";
}
.moon-wordpress2:before {
	content: "\e7be";
}
.moon-flickr4:before {
	content: "\e7bf";
}
.moon-google-drive:before {
	content: "\e7c0";
}
.moon-paragraph-center2:before {
	content: "\e7c1";
}
.moon-arrow-up-left3:before {
	content: "\e7c2";
}
